@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-action="MovieList" asp-controller="Home">Movies</a></li>
    <li><a asp-action="Registration" asp-controller="Home">Add Movie</a></li>
</ul>