<form action="Result" method="post">
    <p>Title: <input type="text" name="Title" /></p>
    <p>Genre: <input type="text" name="Genre" /></p>
    <p>Year: <input type="number" name="Year" /></p>
    <p>Runtime: <input type="number" name="Runtime" /></p>
    
    <input type="submit" />
</form>
